@use '@angular/material' as mat;

@include mat.core();

$rad-dark-primary: mat.define-palette(mat.$pink-palette);
$rad-dark-accent: mat.define-palette(mat.$blue-gray-palette);

$rad-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $rad-dark-primary,
      accent: $rad-dark-accent,
    ),
  )
);
