@use '@angular/material' as mat;

@import '_reset';

@include mat.core();

@import './themes/light.theme.scss';
@import './themes/dark.theme.scss';

@import "./themes/reset.theme";

@mixin rad-components-theme($theme) {
  @include rad-reset-theme($theme);
}

.rad-light-theme {
  @include mat.all-component-themes($rad-light-theme);
  @include mat.strong-focus-indicators-theme($rad-light-theme);
  @include rad-components-theme($rad-light-theme);
}

.rad-dark-theme {
  @include mat.all-component-themes($rad-dark-theme);
  @include mat.strong-focus-indicators-theme($rad-dark-theme);
  @include rad-components-theme($rad-dark-theme);
}


// end of material theming

@import 'notification';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ng-lazyloading.blur {
  filter: blur(3px);
  transition: all 2s ease-in-out;
}

.ng-lazyloaded.blur {
  transition: all 2s;
}

img {
  background-color: #f5f5f5;
}

mat-icon {
  font-size: 1.8rem !important;
  height: unset !important;
  width: unset !important;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #464646;
}

.pointer {
  cursor: pointer;
}

p {
  line-height: 2rem;
  margin: 0;
}

.load--more {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.txt-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

input {
  color: #666;
  background-color: whitesmoke;
}

.truncate1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

section {
  margin: 1rem;
}

.container {
  margin: 1rem;
}

.rad-card {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: -1px 4px 20px -6px #00000033;
}

.updatePostPanel .mat-dialog-container {
  padding: 0;

  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dialogPanel {
  .mat-dialog-container {
    position: relative;
    padding: 1rem;
  }
  .dialog__header {
    height: 3rem;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
