.error-notification-overlay {
  color: #eeeeee;
  background-color: #8b1c1c;
}

.info-notification-overlay {
  color: #222222;
  background-color: #3ba8c9;
}

.success-notification-overlay {
  color: #eeeeee;
  background-color: #23813b;
}

.warning-notification-overlay {
  color: #222222;
  background-color: #cbe636;
}
